@import "~bootstrap/scss/_functions.scss";
@import "~bootstrap/scss/mixins";
@import "../bootstrap-extended/mixins";
@import "../core/variables/variables";
@import "~bootstrap/scss/_variables.scss";
@import "../core/variables/components-variables";

.token-dev-application {
  // border: 1px solid $gray-300;
  border-radius: $border-radius-sm;
  height: calc(100vh - 12rem);
  // Sidebar area starts
  .sidebar-children {
    display: none;
  }
  .email-app-sidebar {
    width: $menu-expanded-width;
    height: calc(100vh - 13rem);
    background-color: $white;
    border-top-left-radius: $border-radius-sm;
    border-bottom-left-radius: $border-radius-sm;
    transition: all 0.3s ease;
    box-shadow: 0 0 15px 0 rgba($pure_black, 0.05) !important;
    border: 1px solid $gray-300;
    border-right: 0;
    overflow-y: hidden !important;
    // width: 100%;
    padding-bottom: 0.5rem;
    z-index: 3;

    // remove default overlay had to get it like this because there's no class for that
    & + div {
      display: none;
    }

    // Close Icon
    .sidebar-close-icon {
      position: absolute;
      right: 0.25rem;
      top: 0.25rem;
      cursor: pointer;
      font-size: 1.25rem;
      z-index: 5;
      visibility: hidden;
    }
    .email-app-menu {
      width: 100%;
      // padding-bottom: 0.5rem;
      // z-index: 3;
      .compose-btn {
        padding: 1px 1.5rem;
        margin-bottom: 0.25rem;
      }
      .sidebar-menu-list {
        padding: 0 1.5rem;
        // position: relative;
        height: calc(100% - 6.4rem);
        .folder-text {
          color: $body-color;
        }
        // height: 100%;
      }
      .list-group .list-group-item i {
        top: 3px;
      }
      .email-pending-avatar {
        .avatar-content {
          height: 20px;
          width: 20px;
        }
      }
      hr {
        margin-left: -1.5rem;
        margin-right: -1.5rem;
      }
    }
  }
  .list-group .list-group-item {
    padding-left: 0;
    padding-right: 0;
    &:hover,
    &:focus {
      background-color: transparent;
      color: $body-color;
    }
    &.active {
      background: transparent;
      color: $primary;
    }
  }
  // Sidebar area ends

  // Right content area common css starts
  .content-right {
    width: calc(100% - #{$menu-expanded-width});
    border: 1px solid $gray-300;
    position: relative;
    .content-wrapper {
      padding: 0;
    }

    .action-icon {
      cursor: pointer;
    }
  }
  // Right content area common css End

  // email list section
  .app-content {
    .content-area-wrapper {
      position: relative;
      // Sidebar toggle icon

      .go-back {
        cursor: pointer;
      }
    }
  }

  .email-user-list {
    position: relative;
    height: calc(100vh - 13.2rem);
    .users-list-wrapper {
      padding: 0;
      margin: 0;
      // Set delay per List Item
      @for $i from 1 through 5000 {
        li:nth-child(#{$i}) {
          animation-delay: 0.1s * $i;
        }
      }
      li {
        cursor: pointer;
        transition: all 0.2s;
        animation: fadeIn 0.25s linear;
        animation-fill-mode: both;
        position: relative;
      }
      .user-action {
        display: flex;
        align-items: center;
        .user-checkbox {
          top: 2px;
        }
      }
    }
  }
  .no-results {
    display: none;
    padding: 1.5rem;
    text-align: center;
    &.show {
      display: block;
    }
  }
  .email-app-details {
    position: absolute;
    display: block;
    z-index: 2;
    visibility: hidden;
    opacity: 0;
    top: 0;
    width: calc(100% - #{$menu-expanded-width});
    background-color: $white;
    transform: translateX(100%);
    transition: all 0.3s ease;
    height: 100%;
    // padding: 1.5rem 0;
    border-bottom: 1px solid $gray-300;
    height: calc(100vh - 13rem);
    &.show {
      visibility: visible;
      transition: all 0.3s ease;
      opacity: 1;
      transform: translateX(0%);
      transition: all 0.3s ease;
      width: 100%;
    }
    .email-detail-header {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      position: relative;
      padding: 1.5rem 2rem 0.5rem 2rem;
      background-color: $body-bg;
    }
    .token-detail-general-wp {
     
      .token-detail-general {
        display: flex;
        margin: 10px;
        .token-detail-title {
          width: 230px;
        }
      }
    }

    .token-contract-list {
      height: calc(100vh - 20.5rem);
      .token-contract-list-wrapper {
        padding: 0;
        margin: 0;
        @for $i from 1 through 5000 {
          li:nth-child(#{$i}) {
            animation-delay: 0.1s * $i;
          }
        }
        li {
          cursor: pointer;
          transition: all 0.2s;
          animation: fadeIn 0.25s linear;
          animation-fill-mode: both;
          position: relative;
          display: flex;
          justify-content: space-between;
          padding: 10px;
          &:hover {
            transform: translateY(-4px);
            box-shadow: 0 3px 10px 0 #ccc;
            transition: all 0.2s;
          }
          &:not(:first-child) {
            border-top: 1px solid $gray-300;
          }
          &:last-child {
            border-bottom: 1px solid $gray-300;
          }
        }
      }
    }
  }

  // Compose Mail Sidebar
  .compose-email {
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 2;
    visibility: hidden;
    opacity: 0;
    top: 0;
    width: calc(100% - #{$menu-expanded-width});
    background-color: $white;
    transform: translateX(100%);
    transition: all 0.3s ease;
    height: 100%;
    // padding: 1.5rem 0;
    border-bottom: 1px solid $gray-300;
    height: calc(100vh - 13rem);
    &.open {
      visibility: visible;
      transition: all 0.3s ease;
      opacity: 1;
      transform: translateX(0%);
      transition: all 0.3s ease;
      width: 100%;
    }
    .compose-mail-header {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      position: relative;
      padding: 1.5rem 2rem 0.5rem 2rem;
      background-color: $body-bg;
    }
    .compose-mail-body {
      flex-grow: 1;
      .list-option-select {
        display: flex;
        margin: 10px;
        justify-content: space-between;
      }
    }
  }
}
// Modal form editor
#email-container {
  .demo-editor {
    min-height: 150px !important;
  }
}
@include media-breakpoint-down(sm) {
  .email-application {
    .sidebar-content {
      .sidebar-close-icon {
        visibility: visible !important;
      }
    }
  }
}
@include media-breakpoint-down(md) {
  .email-application {
    .app-content-overlay {
      z-index: 2;
    }
    .sidebar-left {
      position: relative;
      .email-app-sidebar {
        transform: translateX(-110%);
        transition: all 0.3s ease-in-out;
        // transition: transform .25s;
        left: 0;
        position: fixed;
        z-index: 5;
        left: -2px;
      }
      &.show {
        .email-app-sidebar {
          transform: translateX(13%);
          transition: all 0.3s ease;
          // transition: transform .25s;
          display: block;
        }
      }
    }
    .content-right {
      width: 100%;
      .app-fixed-search {
        border-top-left-radius: $border-radius;
        .form-group {
          width: 90%;
        }
      }
      .email-app-details {
        width: 100%;
        border-radius: $border-radius;
        .email-scroll-area {
          height: calc(100vh - 21.5rem);
        }
      }
    }
  }
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  .email-application {
    .sidebar-left .email-app-sidebar {
      left: -1.12rem !important;
    }
    .compose-email {
      width: 300px;
    }
    .app-fixed-search {
      border-top-left-radius: $border-radius;
      .form-group {
        width: 88% !important;
      }
    }
    .email-detail-head .mail-meta-item {
      display: flex;
      justify-content: space-between;
      .mail-date,
      .mail-time {
        margin: 1rem 0.75rem 0 0;
      }
    }
    .app-content .content-right .email-app-details {
      .email-scroll-area {
        height: calc(100vh - 23.25rem);
      }
    }
    .app-content
      .content-area-wrapper
      .email-user-list
      .users-list-wrapper
      li
      .user-details {
      display: block;
      .mail-items {
        width: 70%;
        display: inline-grid;
      }
      .mail-meta-item {
        width: 15%;
        position: absolute;
        right: 1rem;
        top: 1.5rem;
        i,
        .bullet {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 349.98px) {
  .email-application .content-area-wrapper .sidebar .email-app-sidebar {
    width: 230px;
    left: 3px;
  }
  .email-application .app-content .content-area-wrapper .email-user-list {
    height: calc(100vh - 22.3rem);
  }
  .email-application .email-app-details .email-detail-header {
    padding: 0 1.2rem;
    .email-prev,
    .email-next {
      display: none;
    }
  }
}

// Keyframe animation
@keyframes fadeIn {
  0% {
    opacity: 0;
    top: 100px;
  }
  75% {
    opacity: 0.5;
    top: 0px;
  }
  100% {
    opacity: 1;
  }
}
